<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>variants</key>
	<dict>
		<key>Apps/NoExpoMobile-01CC177A-1B21-4B28-BF76-7E926ED5E7CF.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5283213</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5283213</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>12870224</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>12870224</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone12,8</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,4</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,8</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,1</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,3</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,1</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/NoExpoMobile-0B5BB6D1-D02C-4CAF-811A-C9EE577ADEAC.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5283213</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5283213</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>12870190</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>12870190</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone9,3</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,1</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,1</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,3</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,1</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,4</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,1</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,4</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
			</array>
		</dict>
		<key>Apps/NoExpoMobile-2DF3D88B-293D-4016-A9B9-BDB0BD61C19B.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5290480</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5290480</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>12877722</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>12877722</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone11,8</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,8</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
			</array>
		</dict>
		<key>Apps/NoExpoMobile-6136DAB1-8A15-41FD-86F9-A72C0E596149.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5283244</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5283244</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>12870618</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>12870618</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPad8,3</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,1</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,5</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,4</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,3</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,6</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,7</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,3</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,2</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,4</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,3</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,4</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,2</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,4</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,8</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,4</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,6</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,4</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,5</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,3</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,1</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,1</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,1</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,1</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,2</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,2</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,2</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,8</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,7</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,3</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,3</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,4</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
			</array>
		</dict>
		<key>Apps/NoExpoMobile-6523CFAD-7505-4DDE-AE64-D60C8D216C21.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5300539</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5300539</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>12889834</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>12889834</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone7,1</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone7,1</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,2</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,2</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/NoExpoMobile-9436BDAC-AC59-43A4-9C1D-EDEA9FCE0444.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5283298</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5283298</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>12871104</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>12871104</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPad8,10</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,1</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,5</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,8</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,2</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,1</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,10</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,7</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>MacFamily20,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,11</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,8</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,12</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,2</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,9</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,11</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,5</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,7</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,4</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,3</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,3</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,4</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,3</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,8</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,9</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,12</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,10</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,9</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,7</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,5</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,6</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,4</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,2</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,1</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,4</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,11</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,3</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/NoExpoMobile-BA96876D-DA6F-45A5-973C-C10FDFB3B7CD.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5283211</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5283211</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>12870283</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>12870283</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPod9,1</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPod7,1</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone6,1</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,1</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone6,2</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,1</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone7,2</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone7,2</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone6,2</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone6,1</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,4</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,4</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPod7,1</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/NoExpoMobile-C2B688E9-9A89-4C29-8F3A-1DF90C32E847.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5283241</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5283241</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>12870496</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>12870496</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPad11,7</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,4</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,3</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,12</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,6</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,11</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,12</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,8</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,11</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,11</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,2</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,5</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,12</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,7</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,7</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,12</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,11</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,5</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,1</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,8</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/NoExpoMobile-C71E9F3E-ACD1-414A-B1D7-F0B6C7485E15.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5300591</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5300591</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>12890276</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>12890276</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone11,2</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,2</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,6</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,3</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,4</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,6</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,2</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,5</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,5</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,3</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,5</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,5</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,4</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/NoExpoMobile-D033FE51-853B-4BB9-BE8F-09C3CD336DD3.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5300533</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5300533</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>12889801</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>12889801</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone8,2</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/NoExpoMobile-D63F5118-16C4-47C2-8ABE-1F684A530B32.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5290495</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5290495</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>12877756</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>12877756</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone11,8</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,8</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,1</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/NoExpoMobile-E68F6F2E-0D1C-4F48-B63F-EEF6E2D81163.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5283252</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5283252</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>12870647</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>12870647</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPad6,12</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,1</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,2</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,6</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,9</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,12</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,4</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,5</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,6</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,5</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,7</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,4</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,2</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,9</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,1</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,11</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,7</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,8</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,8</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,3</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,1</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,2</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,3</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,4</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,3</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,7</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,1</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,4</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,3</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,5</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,6</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,11</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,8</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,8</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,7</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,2</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,5</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,6</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
			</array>
		</dict>
		<key>Apps/NoExpoMobile-EADE95EC-0B60-4B0B-BB89-44B8E526FAFD.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5283206</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5283206</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>12870153</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>12870153</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPod9,1</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,1</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,4</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPod9,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/NoExpoMobile-EE75C904-880E-4ACE-8AE8-2F7E22A3CA1B.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5300577</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5300577</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>12890072</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>12890072</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone11,6</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,2</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,2</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,6</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,5</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,6</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,5</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,2</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,4</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,3</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,4</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,3</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,2</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,4</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,4</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,2</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,6</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,2</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/NoExpoMobile.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5406792</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5406792</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>13007213</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>13007213</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
